<!DOCTYPE html>
<html lang="en">
{% include 'lous_list/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>{{ course.description }}</title>
</head>
<body>
    <br/>
    <h1>{{ course.subject }} {{ course.catalog_number }} - {{ course.description }}</h1>
    <p>Units: {{ course.units }}</p>
    <p>Type: {{ course.component }}</p>
    <p>Days: {{ course.meetings_days }}</p>
    <p>Time: {{ course.meetings_start_time }} - {{ course.meetings_end_time }}</p>
    <p>Instructor: {{course.instructor_name}} ({{ course.instructor_email }})</p>
    <p>Enrollment Availability: {{ course.enrollment_total }}/{{ course.class_capacity }}</p>
    <p>Location: {{ course.meetings_facility_description }}</p>
    {% if user.is_authenticated %}
        <form method="POST" action={% url 'schedule:add_course' course_number=course.course_number %}>
            {% csrf_token %}
            <input type="submit" value="Add Course to Schedule">
        </form>
    {% endif %}
    <section>
    {% if component_list %}
        <h3>Available Components:</h3>
        <ul style="list-style:none">
        {% for component in component_list %}
            <li>
                <h2>{{ component.subject }} {{ component.catalog_number }} - {{ component.description }}</h2>
                <p>Units: {{ component.units }}</p>
                <p>Type: {{ component.component }}</p>
                <p>Days: {{ component.meetings_days }}</p>
                <p>Time: {{ component.meetings_start_time }} - {{ component.meetings_end_time }}</p>
                <p>Instructor: {{component.instructor_name}} ({{ component.instructor_email }})</p>
                <p>Enrollment Availability: {{ component.enrollment_total }}/{{ component.class_capacity }}</p>
                {% if user.is_authenticated %}
                    <form method="POST" action={% url 'schedule:add_course' course_number=component.course_number %}>
                        {% csrf_token %}
                        <input type="submit" value="Add Course to Schedule">
                    </form>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h3>No components are available for this course.</h3>
    {% endif %}
    </section>
    {% include 'comment/description.html' %}
    <h3><a href="{% url 'list_classes:classes' subjects_displayed=course.subject%}">Back</a></h3>
</body>
</html>
