<!DOCTYPE html>
<html lang="en">
{% include 'lous_list/base.html' %}

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ course.description }}</title>
    <link rel="stylesheet" href="{% static 'description.css' %}">
</head>
<body>
    <h1>Course Description</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if "warning" in message.tags %}
                    <p>{{ message }}</p>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <h1>{{ course.subject }} {{ course.catalog_number }} - {{ course.description }}</h1>
    <form method="GET" onclick=goBack()>
        {% csrf_token %}
        <input type="button" value="Back">
    </form>
    <p><b>Units: </b>{{ course.units }}<br>
    <b>Type: </b>{{ course.component }}<br>
    {% if course.meetings_days != "" %}
        <b>Days: </b>{{ course.meetings_days }}<br>
        <b>Time: </b>{{ course.meetings_start_time }} - {{ course.meetings_end_time }}<br>
    {% else %}
        <b>Days: </b>No dates have been assigned to this course.<br>
        <b>Time: </b>No times have been assigned to this course.<br>
    {% endif %}
    {% if course.secondary_meetings_days != "-" %}
        <b>Secondary Days: </b>{{ course.secondary_meetings_days }}<br>
        <b>Secondary Time: </b>{{ course.secondary_meetings_start_time }} - {{ course.secondary_meetings_end_time }}<br>
    {% endif %}
    {% if course.instructor_email != "" %}
        <b>Instructor: </b>{{course.instructor_name}} ({{ course.instructor_email }})<br>
    {% else %}
        <b>Instructor: </b>No instructor has been assigned to this course.<br>
    {% endif %}
    <b>Location: </b>{{ course.meetings_facility_description }}<br>
    <b>Enrollment Availability: </b>{{ course.enrollment_total }}/{{ course.class_capacity }}<br>
    <b>Course Number: </b>{{ course.course_number }}<br>
    {% if user.is_authenticated %}
        <form method="POST" action={% url 'schedule:add_course' course_number=course.course_number %}>
            {% csrf_token %}
            <input type="submit" value="Add Course to Schedule">
        </form>
    {% endif %}
    <section>
    <hr>
    {% if component_list %}
        <h3>Available Components:</h3>
        <ul>
            <form method="get" action="#">
                <select id="select_component" onchange="update()">
                    {% for component in component_list %}
                        <option id="selected_component" value="
                                                        <b>Units: </b>{{ component.units }}<br>
                                                        <b>Type: </b>{{ component.component }}<br>
                                                        {% if component.meetings_days != "" %}
                                                            <b>Days: </b>{{ component.meetings_days }}<br>
                                                            <b>Time: </b>{{ component.meetings_start_time }} - {{ component.meetings_end_time }}<br>
                                                        {% else %}
                                                            <b>Days: </b>No dates have been assigned to this course.<br>
                                                            <b>Time: </b>No times have been assigned to this course.<br>
                                                        {% endif %}
                                                        {% if component.secondary_meetings_days != "-" %}
                                                            Secondary Days: {{ component.secondary_meetings_days }}<br>
                                                            Secondary Time: {{ component.secondary_meetings_start_time }} - {{ course.secondary_meetings_end_time }}<br>
                                                        {% endif %}
                                                        {% if course.instructor_email != "" %}
                                                            <b>Instructor: </b>{{component.instructor_name}} ({{ component.instructor_email }})<br>
                                                        {% else %}
                                                            <b>Instructor: </b>No instructor has been assigned to this course.<br>
                                                        {% endif %}
                                                        <b>Location: </b>{{component.meetings_facility_description}}<br>
                                                        <b>Enrollment Availability: </b>{{ component.enrollment_total }}/{{ component.class_capacity }}<br>
                                                        <b>Course Number: </b>{{ component.course_number }}<br>">
                            {{component.meetings_days}} {{component.meetings_start_time}} - {{component.meetings_end_time}}</option>
                    {% endfor %}
                </select>
            </form>
            <p id="comp_header"></p>
            <script>
                function update() {
                    var select = document.getElementById('select_component');
                    var option = select.options[select.selectedIndex];
                    document.getElementById("comp_header").innerHTML = option.value;
                }
                update();
            </script>
        </ul>
        {% if user.is_authenticated %}
        <hr>
        <h3>Enroll in Component:</h3>
        <ul>
            <li>
                    {% for component in component_list %}
                        <p>{{ component.meetings_days }} {{ component.meetings_start_time }} - {{ component.meetings_end_time }}, {{ component.meetings_facility_description }}</p>
                        <a>
                            <form method="POST" action={% url 'schedule:add_course' course_number=component.course_number %}>
                                {% csrf_token %}
                                <input type="submit" value="Add Component to Schedule">
                            </form>
                        </a>
                    {% endfor %}
            </li>
        </ul>
        {% endif %}
    {% else %}
        <h3>No components are available for this course.</h3>
    {% endif %}
    </section>
    {% include 'comment/description.html' %}
</body>
<script>
    function goBack() {
        if(document.referrer.includes(window.location.host)){
            window.history.back();
        }
    }
</script>
</html>
