<main>
    <section>
        <h1>Courses:</h1>
    </section>
    <section>
    {% if course_list %}
        <ul style="list-style:none">
        {% for course in course_list %}
            <li>
                <h2><a href="{% url 'list_classes:description' course.course_number %}">{{ course.subject }} {{ course.catalog_number }} - {{ course.description }}</a></h2>
                <p>Units: {{ course.units }}</p>
                <p>Instructor: {{course.instructor_name}} ({{ course.instructor_email }})</p>
                <p>Enrollment Availability: {{ course.enrollment_total }}/{{ course.class_capacity }}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No classes are available.</p>
    {% endif %}
    </section>
</main>