{% load static %} 
<!DOCTYPE html>
<html lang="en">
    <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
        <title>Profile Page</title>
</head>
    <body>
        <div class="main">
            <h1>Profile Page</h1>
            <div class="text_field">Username: {{user.username}}</div>
            <div class="text_field">Friends: ADD LATER</div>
            <div>SCHEDULE BELOW</div>
            <form method="POST" action={% url 'logout' %}>
                <div class="logoutButton">
                    <input href={% url 'logout' %} value="Logout">
                </div>
            </form>
        </div>
    </body>
</html>