{% load static %} 
<!DOCTYPE html>
<html lang="en">
    <head>
      {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'accounts/profile.css' %}">
        <title>Profile Page</title>
</head>
    <body>
        <div class="main">
            <h1>Profile Page</h1>
            <div class="text_field">Username: {{user.username}}</div>
            <div class="text_field">Friends: ADD LATER</div>
            <form method="POST" action={% url 'friend:send_request' username='tjburk' %}>
                {% csrf_token %}
                <div class="text_field">
                    <input type="text" placeholder="Requested User Email" name="send_email">
                </div>
                <input type="submit" value="Send Friend Request">
            </form>
            <form method="POST" action={% url 'friend:accept_request' username='tjburk' %}>
                {% csrf_token %}
                <div class="text_field">
                    <label>
                        <input type="text" placeholder="Accepted User Email" name="accept_email">
                    </label>
                </div>
                <input type="submit" value="Accept Friend Request">
            </form>
            <form method="POST" action={% url 'logout' %}>
                {% csrf_token %}
                <div class="logoutButton">
                    <input type="submit" value="Logout">
                </div>
            </form>
            {% include 'friend/messages.html' %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>