<!DOCTYPE html>
<html lang="en">
{% include 'lous_list/base.html' %}


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<head></head>

{% if user.is_authenticated %}
    <h1>Add Comment...</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Comment</button>
        </form>
    </div>

<script>
    var username="{{ user.username }}";
    document.getElementById("userNameField").value = username;
</script>



{% else %}
Please log in and try again!

{% endif %}
</html>