{% extends 'lous_list\base.html' %}
{%load static %}
{%block content %}
<body>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <!-- Engineer Icon -->
    <div class="engineer">
        <a href="/list_classes/engineering"> <!-- ADD LINK TO Engineering PAGE HERE-->
            <img src="{% static 'engineering.png' %}" alt="..." height ="250">
        </a>
    </div>
    <!-- Arts & Science Icon -->
    <div class="arts">
        <a href="/list_classes/arts> <!-- ADD LINK TO arts & science PAGE HERE-->
            <img src="{% static 'arts.png' %}" alt="..." height="250">
        </a>
    </div>
    <!-- Human Development Icon -->
    <div class="humans">
        <a href="/list_classes/humans"> <!-- ADD LINK TO arts & science PAGE HERE-->
            <img src="{% static 'humans.png' %}" alt="..." height="250">
        </a>
    </div>
    <!-- Continuing Icon -->
    <div class="continuing">
        <a href="/list_classes/continuing"> <!-- ADD LINK TO arts & science PAGE HERE-->
            <img src="{% static 'continuing.png' %}" alt="..." height="250">
        </a>
    </div>
    <!-- Other Schools Icon -->
    <div class="schools">
        <a href="/list_classes/schools"> <!-- ADD LINK TO arts & science PAGE HERE-->
            <img src="{% static 'schools.png' %}" alt="..." height="250">
        </a>
    </div>
    <!-- Other Programs Icon -->
    <div class="programs">
        <a href="/list_classes/programs"> <!-- ADD LINK TO arts & science PAGE HERE-->
            <img src="{% static 'programs.png' %}" alt="..." height="250">
        </a>
    </div>
</body>
{% endblock %}