{% extends 'lous_list/base.html' %}
{%load static %}
{%block content %}
<link rel="stylesheet" href="{% static 'homes.css' %}">
<button class="accordion">Arts & Sciences</button>
<div class="panel">
    <a href='/list_classes/HIAF'><button class='section'>African History</button></a>
    <a href='/list_classes/PLAP'><button class='section'>American Politics</button></a>
    <a href='/list_classes/AMST'><button class='section'>American Studies</button></a>
    <a href='/list_classes/ANTH'><button class='section'>Anthropology</button></a>
    <a href='/list_classes/ARCY'><button class='section'>Archaeology</button></a>
    <a href='/list_classes/ASTR'><button class='section'>Astronomy</button></a>
    <a href='/list_classes/ARAD'><button class='section'>Arts Administration</button></a>
    <a href='/list_classes/EVAT'><button class='section'>Atmospheric Sciences</button></a>
    <a href='/list_classes/BIOC'><button class='section'>Biochemistry</button></a>
    <a href='/list_classes/BIOL'><button class='section'>Biology</button></a>
    <a href='/list_classes/BIMS'><button class='section'>Biomedical Science</button></a>
    <a href='/list_classes/BIOP'><button class='section'>Biophysics</button></a>
    <a href='/list_classes/CELL'><button class='section'>Cell Biology</button></a>
    <a href='/list_classes/CHEM'><button class='section'>Chemistry</button></a>
    <a href='/list_classes/CLAS'><button class='section'>Classics</button></a>
    <a href='/list_classes/COGS'><button class='section'>Cognitive Science</button></a>
    <a href='/list_classes/PLCP'><button class='section'>Comparative Politics</button></a>
    <a href='/list_classes/DANC'><button class='section'>Dance</button></a>
    <a href='/list_classes/DRAM'><button class='section'>Drama</button></a>
    <a href='/list_classes/HIEA'><button class='section'>East Asian History</button></a>
    <a href='/list_classes/EVEC'><button class='section'>Ecology</button></a>
    <a href='/list_classes/ECON'><button class='section'>Economics</button></a>
    <a href='/list_classes/EGMT'><button class='section'>Engagement</button></a>
    <a href='/list_classes/MUEN'><button class='section'>Ensembles</button></a>
    <a href='/list_classes/EVSC'><button class='section'>Environmental Sciences</button></a>
    <a href='/list_classes/GSVS'><button class='section'>Environments & Sustainability</button></a>
    <a href='/list_classes/ETP'><button class='section'>Environmental Thought and Practice</button></a>
    <a href='/list_classes/ELA'><button class='section'>Engaging in Liberal Arts</button></a>
    <a href='/list_classes/EURS'><button class='section'>European Studies</button></a>
    <a href='/list_classes/HIEU'><button class='section'>European History</button></a>
    <a href='/list_classes/EVGE'><button class='section'>Geosciences</button></a>
    <a href='/list_classes/GDS'><button class='section'>Global Studies</button></a>
    <a href='/list_classes/GSGS'><button class='section'>Global Studies-Global Studies</button></a>
    <a href='/list_classes/HIST'><button class='section'>History</button></a>
    <a href='/list_classes/ARTH'><button class='section'>History of Art</button></a>
    <a href='/list_classes/ARAH'><button class='section'>History of Art and Architecture</button></a>
    <a href='/list_classes/HBIO'><button class='section'>Human Biology</button></a>
    <a href='/list_classes/EVHY'><button class='section'>Hydrology</button></a>
    <a href='/list_classes/INST'><button class='section'>Interdisciplinary Studies</button></a>
    <a href='/list_classes/ISBU'><button class='section'>Interdisciplinary Studies-Business</button></a>
    <a href='/list_classes/ISHU'><button class='section'>Interdisciplinary Studies-Humanities</button></a>
    <a href='/list_classes/ISIN'><button class='section'>Interdisciplinary Studies-Individualized Other</button></a>
    <a href='/list_classes/ISLS'><button class='section'>Interdisciplinary Studies-Liberal Studies Seminar</button></a>
    <a href='/list_classes/ISSS'><button class='section'>Interdisciplinary Studies-Social Sciences</button></a>
    <a href='/list_classes/IMP'><button class='section'>Interdisciplinary Thesis</button></a>
    <a href='/list_classes/PLIR'><button class='section'>International Relations</button></a>
    <a href='/list_classes/HILA'><button class='section'>Latin American History</button></a>
    <a href='/list_classes/LAST'><button class='section'>Latin American Studies</button></a>
    <a href='/list_classes/MUBD'><button class='section'>Marching Band</button></a>
    <a href='/list_classes/MATH'><button class='section'>Mathematics</button></a>
    <a href='/list_classes/MDST'><button class='section'>Media Studies</button></a>
    <a href='/list_classes/MSP'><button class='section'>Medieval Studies</button></a>
    <a href='/list_classes/MICR'><button class='section'>Microbiology</button></a>
    <a href='/list_classes/HIME'><button class='section'>Middle Eastern History</button></a>
    <a href='/list_classes/GSMS'><button class='section'>Middle East & South Asia</button></a>
    <a href='/list_classes/MUSI'><button class='section'>Music</button></a>
    <a href='/list_classes/NESC'><button class='section'>Neuroscience</button></a>
    <a href='/list_classes/PHIL'><button class='section'>Philosophy</button></a>
    <a href='/list_classes/PHYS'><button class='section'>Physics</button></a>
    <a href='/list_classes/MUPF'><button class='section'>Private Performance Instruction</button></a>
    <a href='/list_classes/PPL'><button class='section'>Politcal Philosophy, Policy, and Law</button></a>
    <a href='/list_classes/PST'><button class='section'>Political and Social Thought</button></a>
    <a href='/list_classes/PLPT'><button class='section'>Political Theory</button></a>
    <a href='/list_classes/PSYC'><button class='section'>Psychology</button></a>
    <a href='/list_classes/GSSJ'><button class='section'>Security & Justice</button></a>
    <a href='/list_classes/SOC'><button class='section'>Sociology</button></a>
    <a href='/list_classes/HISA'><button class='section'>South Asian History</button></a>
    <a href='/list_classes/STAT'><button class='section'>Statistics</button></a>
    <a href='/list_classes/ARTS'><button class='section'>Studio Art</button></a>
    <a href='/list_classes/HIUS'><button class='section'>United States History</button></a>
    <a href='/list_classes/WGS'><button class='section'>Women & Gender Studies</button></a>
</div>

<button class="accordion">Education School</button>
<div class="panel">
    <a href='/list_classes/EDIS'><button class='section'>Curriculum, Instruction, & Special Ed</button></a>
    <a href='/list_classes/DH'><button class='section'>Digital Humanities</button></a>
    <a href='/list_classes/EDNC'><button class='section'>Education: Non-Credit</button></a>
    <a href='/list_classes/LPPA'><button class='section'>Evaluation & Analysis</button></a>
    <a href='/list_classes/HR'><button class='section'>Human Resoures</button></a>
    <a href='/list_classes/EDHS'><button class='section'>Human Services</button></a>
    <a href='/list_classes/KINE'><button class='section'>Kinesiology</button></a>
    <a href='/list_classes/LPPL'><button class='section'>Leadership</button></a>
    <a href='/list_classes/EDLF'><button class='section'>Leadership, Foundations, & Policy</button></a>
    <a href='/list_classes/KLPA'><button class='section'>Lifetime Physical Activity</button></a>
    <a href='/list_classes/LPPP'><button class='section'>Policy</button></a>
    <a href='/list_classes/LPPS'><button class='section'>Substantive</button></a>
</div>

<button class="accordion">Engineering</button>
<div class="panel">
    <a href='/list_classes/APMA'><button class='section'>Applied Mathematics</button></a>
    <a href='/list_classes/AM'><button class='section'>Applied Mechanics</button></a>
    <a href='/list_classes/CE'><button class='section'>Civil Engineering</button></a>
    <a href='/list_classes/CHE'><button class='section'>Chemical Engineering</button></a>
    <a href='/list_classes/CPE'><button class='section'>Computer Engineering</button></a>
    <a href='/list_classes/CS'><button class='section'>Computer Science</button></a>
    <a href='/list_classes/SEC'><button class='section'>Cyber Security Analysis</button></a>
    <a href='/list_classes/DS'><button class='section'>Data Science</button></a>
    <a href='/list_classes/ECE'><button class='section'>Electrical and Computer Engineering</button></a>
    <a href='/list_classes/ENGR'><button class='section'>Engineering</button></a>
    <a href='/list_classes/IT'><button class='section'>Informational Technology</button></a>
    <a href='/list_classes/MSE'><button class='section'>Materials Science & Engineering</button></a>
    <a href='/list_classes/MAE'><button class='section'>Mechanical & Aerospace Engineering</button></a>
    <a href='/list_classes/STS'><button class='section'>Science, Technology, & Society</button></a>
    <a href='/list_classes/SYS'><button class='section'>Systems & Information Engineering</button></a>
</div>

<button class="accordion">Language</button>
<div class="panel">
    <a href='/list_classes/ARAB'><button class='section'>Arabic</button></a>
    <a href='/list_classes/ARTR'><button class='section'>Arabic in Translation</button></a>
    <a href='/list_classes/ASL'><button class='section'>American Sign Language</button></a>
    <a href='/list_classes/CHIN'><button class='section'>Chinese</button></a>
    <a href='/list_classes/CHTR'><button class='section'>Chinese in Translation</button></a>
    <a href='/list_classes/ENCW'><button class='section'>Creative Writing</button></a>
    <a href='/list_classes/CREO'><button class='section'>Creole</button></a>
    <a href='/list_classes/EALC'><button class='section'>East Asian Language, Literatures, Cultures</button></a>
    <a href='/list_classes/EAST'><button class='section'>East Asian Studies</button></a>
    <a href='/list_classes/ESL'><button class='section'>English As A Second Language</button></a>
    <a href='/list_classes/ENGL'><button class='section'>English-Literature</button></a>
    <a href='/list_classes/FREN'><button class='section'>French</button></a>
    <a href='/list_classes/LNGS'><button class='section'>General Linguistics</button></a>
    <a href='/list_classes/GERM'><button class='section'>German</button></a>
    <a href='/list_classes/GETR'><button class='section'>German in Translation</button></a>
    <a href='/list_classes/GREE'><button class='section'>Greek</button></a>
    <a href='/list_classes/HEBR'><button class='section'>Hebrew</button></a>
    <a href='/list_classes/HIND'><button class='section'>Hindi</button></a>
    <a href='/list_classes/ITAL'><button class='section'>Italian</button></a>
    <a href='/list_classes/ITTR'><button class='section'>Italian in Translation</button></a>
    <a href='/list_classes/JAPN'><button class='section'>Japanese</button></a>
    <a href='/list_classes/JPTR'><button class='section'>Japanese in Translation</button></a>
    <a href='/list_classes/KOR'><button class='section'>Korean</button></a>
    <a href='/list_classes/LATI'><button class='section'>Latin</button></a>
    <a href='/list_classes/LING'><button class='section'>Linguistics</button></a>
    <a href='/list_classes/KICH'><button class='section'>Maya K'iche</button></a>
    <a href='/list_classes/MESA'><button class='section'>Middle Eastern & South Asian Languages</button></a>
    <a href='/list_classes/PERS'><button class='section'>Persian</button></a>
    <a href='/list_classes/PETR'><button class='section'>Persian in Translation</button></a>
    <a href='/list_classes/POL'><button class='section'>Polish</button></a>
    <a href='/list_classes/PORT'><button class='section'>Portuguese</button></a>
    <a href='/list_classes/POTR'><button class='section'>Portuguese in Translation</button></a>
    <a href='/list_classes/RUSS'><button class='section'>Russian</button></a>
    <a href='/list_classes/RUTR'><button class='section'>Russian in Translation</button></a>
    <a href='/list_classes/SANS'><button class='section'>Sanskrit</button></a>
    <a href='/list_classes/SLAV'><button class='section'>Slavic</button></a>
    <a href='/list_classes/SLTR'><button class='section'>Slavic in Translation</button></a>
    <a href='/list_classes/SAST'><button class='section'>South Asian Studies</button></a>
    <a href='/list_classes/SATR'><button class='section'>South Asian Literature in Translation</button></a>
    <a href='/list_classes/SPAN'><button class='section'>Spanish</button></a>
    <a href='/list_classes/SWAH'><button class='section'>Swahili</button></a>
    <a href='/list_classes/URDU'><button class='section'>Urdu</button></a>
    <a href='/list_classes/ENWR'><button class='section'>Writing and Rhetoric</button></a>
</div>

<button class="accordion">Religion</button>
<div class="panel">
    <a href='/list_classes/RELA'><button class='section'>African Religions</button></a>
    <a href='/list_classes/RELB'><button class='section'>Buddhism</button></a>
    <a href='/list_classes/RELC'><button class='section'>Christianity</button></a>
    <a href='/list_classes/RELG'><button class='section'>General Religion</button></a>
    <a href='/list_classes/RELH'><button class='section'>Hinduism</button></a>
    <a href='/list_classes/RELI'><button class='section'>Islam</button></a>
    <a href='/list_classes/RELJ'><button class='section'>Judaism</button></a>
    <a href='/list_classes/Special Topic'><button class='section'>Special Topic</button></a>
</div>

<button class="accordion">ROTC</button>
<div class="panel">
    <a href='/list_classes/AIRS'><button class='section'>Air Science</button></a>
    <a href='/list_classes/MISC'><button class='section'>Military Science</button></a>
    <a href='/list_classes/NAVC'><button class='section'>Naval Science</button></a>
    <a href='/list_classes/UNST'><button class='section'>University Studies</button></a>
</div>

<button class="accordion">School of Continuing and Professional Studies</button>
<div class="panel">
    <a href='/list_classes/PSHM'><button class='section'>Health Sciences Management</button></a>
    <a href='/list_classes/PSLP'><button class='section'>Leadership Program</button></a>
    <a href='/list_classes/NCPR'><button class='section'>Non-Credit Professional Review</button></a>
    <a href='/list_classes/PSPM'><button class='section'>Project Management</button></a>
    <a href='/list_classes/PSPA'><button class='section'>Public Administration</button></a>
</div>

<button class="accordion">Seminars</button>
<div class="panel">
    <a href='/list_classes/COLA'><button class='section'>College Advising Seminar</button></a>
    <a href='/list_classes/CASS'><button class='section'>College Art Scholars Seminar</button></a>
    <a href='/list_classes/HSCI'><button class='section'>College Science Scholars Seminar</button></a>
    <a href='/list_classes/PLAD'><button class='section'>Departmental Seminar</button></a>
    <a href='/list_classes/LASE'><button class='section'>Liberal Arts Seminar</button></a>
    <a href='/list_classes/USEM'><button class='section'>University Seminar</button></a>
</div>

<button class="accordion">Other Schools</button>
<div class="panel">
    <a href='/list_classes/ACCT'><button class='section'>Accouting</button></a>
    <a href='/list_classes/ARCH'><button class='section'>Architecture</button></a>
    <a href='/list_classes/ARH'><button class='section'>Architectural History</button></a>
    <a href='/list_classes/ALAR'><button class='section'>Architecture and Landscape</button></a>
    <a href='/list_classes/SARC'><button class='section'>Architecture School</button></a>
    <a href='/list_classes/BUS'><button class='section'>Business</button></a>
    <a href='/list_classes/GCNL'><button class='section'>Clinical Nurse Leader</button></a>
    <a href='/list_classes/COMM'><button class='section'>Commerce</button></a>
    <a href='/list_classes/CONC'><button class='section'>Commerce Non-Credit</button></a>
    <a href='/list_classes/ENTP'><button class='section'>Entrepreneurship</button></a>
    <a href='/list_classes/GBUS'><button class='section'>Graduate Business</button></a>
    <a href='/list_classes/GBAC'><button class='section'>Graduate Business Analytics Comm.</button></a>
    <a href='/list_classes/GCOM'><button class='section'>Graduate Commerce</button></a>
    <a href='/list_classes/GNUR'><button class='section'>Graduate Nursing</button></a>
    <a href='/list_classes/LAR'><button class='section'>Landscape Architecture</button></a>
    <a href='/list_classes/LAW'><button class='section'>Law</button></a>
    <a href='/list_classes/MED'><button class='section'>Medicine</button></a>
    <a href='/list_classes/NURS'><button class='section'>Nursing</button></a>
    <a href='/list_classes/NUCO'><button class='section'>Nursing Core</button></a>
    <a href='/list_classes/NUIP'><button class='section'>Nursing Interprofessional</button></a>
    <a href='/list_classes/PATH'><button class='section'>Pathology</button></a>
    <a href='/list_classes/PHAR'><button class='section'>Pharmacology</button></a>
    <a href='/list_classes/PHY'><button class='section'>Physiology</button></a>
    <a href='/list_classes/PLAC'><button class='section'>Planning Application</button></a>
    <a href='/list_classes/PC'><button class='section'>Procurement & Contracts Management</button></a>
    <a href='/list_classes/PHS'><button class='section'>Public Health Sciences</button></a>
    <a href='/list_classes/PLAN'><button class='section'>Urban & Environmental Planning</button></a>
</div>

<button class="accordion">Other</button>
<div class="panel">
    <a href='/list_classes/DEM'><button class='section'>[DEM]</button></a>
    <a href='/list_classes/GCCS'><button class='section'>[GCCS]</button></a>
    <a href='/list_classes/GHSS'><button class='section'>[GHSS]</button></a>
    <a href='/list_classes/GSAS'><button class='section'>[GSAS]</button></a>
    <a href='/list_classes/GSCI'><button class='section'>[GSCI]</button></a>
    <a href='/list_classes/HHE'><button class='section'>[HHE]</button></a>
    <a href='/list_classes/PSPS'><button class='section'>[PSPS]</button></a>
    <a href='/list_classes/TURK'><button class='section'>[TURK]</button></a>
    <a href='/list_classes/UNST'><button class='section'>[UNST]</button></a>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
        panel.style.display = "none";
        } else {
        panel.style.display = "block";
        }
    });
    }
</script>

{% endblock %}