<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lou's List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
</head>

<body>
    <h1>Lou's List</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username}}</p>
    {% else %}
        <h1>Try logging in again.</h1>>
    {% endif %}
</body>
</html>