{% if user.is_authenticated %}
        <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/list_classes/all">Classes</a>
        </li>
        </ul>
        <h4>Welcome, {{ user.username }}</h4>
{% else %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/accounts/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/list_classes/all">Classes</a>
        </li>
      </ul>
        <h4>Please log in</h4>
{% endif %}