{%load static %}
<nav class="navbar">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <!-- This section adds UVA Logo and if clicked redirects to home page -->
    <a href="/">
        <img src="{% static 'UVA_Logo.png' %}" alt="..." height="65">
    </a>
    <!-- This section adds the settings button. If clicked redirects to settings page -->
    <div class="settings">
        <a href=""> <!-- ADD LINK FOR settings PAGE HERE -->
            <img align="right" src="{% static 'settings.png' %}" alt="...">
        </a>
    </div>
    <!-- This section adds the profile button. If clicked redirects to profile page -->
    <div class="prof">
        {% if user.is_authenticated %}
            <a href='/accounts/profile'> <!-- ADD LINK FOR profile PAGE HERE (for now it just logs you out)-->
                <img align="right" src="{% static 'profile.png' %}" alt="...">
            </a>
        {% else %}
            <a href="/accounts/login"> <!-- If not logged in, takes you to login page -->
                <img align="right" src="{% static 'profile.png' %}" alt="...">
            </a>
        {% endif %}
    </div>
    <!-- Adds a search bar that redirects to whatever action form we have by clicking enter-->
    <div class="search-container">
        <form action={% url 'search:search' %} method="get">
            <input name="search_query" type="text" placeholder="Search...">
        </form>
    </div>
</nav>