{%load static %}
<nav class="navbar">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <!-- This section adds UVA Logo and if clicked redirects to home page -->
    <a href="/">
        <img src="{% static 'UVA_Logo.png' %}" alt="..." height="65">
    </a>
    <!-- This section adds the user page button. If clicked redirects to user page -->
    <div class="settings">
        <a href={% url "friend:user_page" %}>
            <img align="right" src="{% static 'friends.png' %}" alt="...">
        </a>
    </div>
    <!-- This section adds the profile button. If clicked redirects to profile page -->
    <div class="prof">
        {% if user.is_authenticated %}
            <a href='{% url 'profile' user_id=user.id%}'>
                <img align="right" src="{% static 'profile.png' %}" alt="...">
            </a>
        {% else %}
            <a href="/accounts/login"> <!-- If not logged in, takes you to login page -->
                <img align="right" src="{% static 'profile.png' %}" alt="...">
            </a>
        {% endif %}
    </div>
    <!-- Adds a search bar that redirects to whatever action form we have by clicking enter-->
    <div class="search-container">
        <form action={% url 'search:search' %} method="get" class='search-bar'>
            <input name="search_query" type="text" placeholder="" id="SearchBar">
            <button type="submit" class="searchButton"><img src="{% static 'search.png' %}"</button>
        </form>
    </div>

    {% if user.is_authenticated %}
        <script>
            var username="{{ user.username }}";
            document.getElementById("SearchBar").placeholder = "Searching as '" +username+"'";
        </script>
    {% else %}
        <script>
            document.getElementById("SearchBar").placeholder = "Searching as guest";
        </script>
    {% endif %}

</nav>