.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 0 0;
    background-color: #002654;
    overflow: hidden;
}

.settings {
    float: right;
    margin: 15px 15px 0 15px;
}

.prof {
    float: right;
    margin: 15px 0 0 0;
}

.search-bar {
    float: right;
    display: flex;
    padding: 2px;
    border: 1px solid transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: -52px 120px 0 0
}

.class-form {
  float: right;
  display: flex;
  padding: 2px;
  border: 1px solid transparent;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: -52px 120px 0 0
}

/* input[type="text"] {
    float: right;
    padding: 5px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
  } */

.search-bar {
  width: 100%;
  max-width: 500px;
  background-color: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 5px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  /* padding: 24px 20px; */
  font-size: 15px;
  color: white;
  backdrop-filter: blur(4px) saturate;
}

::placeholder {
  color: #a1a1a9;
}

.search-bar button img {
  width: 20px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #58629b;
  cursor: pointer;
}

.searchButton {
    float: right;
    /* padding: 6px 10px;
    margin-right: 16px; */
    margin: 0;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

.searchButton:hover {
  background: rgb(143, 142, 142);
}

  input[type="search"]::placeholder {
    color: #bbb;
  }

  .white-box {
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }

  .img-logo {
    height: 100%;
    width: auto;
  }