.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 0 0;
    background-color: #002654;
    overflow: hidden;
}

.settings {
    float: right;
    margin: 15px 15px 0 15px;
}

.prof {
    float: right;
    margin: 15px 0 0 0;
}

form {
    float: right;
    display: flex;
    padding: 2px;
    border: 1px solid transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: -52px 120px 0 0
}

input[type="text"] {
    float: right;
    padding: 5px;
    border: none;
    margin-top: 5px;
    margin-right: 16px;
    font-size: 17px;
  }

.searchButton {
    float: right;
    padding: 6px 10px;
    margin-top: 5px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

.searchButton:hover {
  background: rgb(143, 142, 142);
}
  
  input[type="search"]::placeholder {
    color: #bbb;
  }

  .white-box {
    background-color: white;
    color: black;
    width: 50px;
    height: 40px;
    border-radius: 10px;
  }

  .img-logo {
    height: 100%;
    width: auto;
  }