.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 0 0 0;
    background-color: #002654;
    overflow: hidden;
}

.settings {
    float: right;
    margin: 15px 15px 0 15px;
}

.prof {
    float: right;
    margin: 15px 0 0 0;
}

form {
    float: right;
    display: flex;
    padding: 2px;
    border: 1px solid transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: -52px 120px 0 0
}

input[type="search"] {
    border: #ffffff;
    background: #ffffff;
    margin: 0 0 0 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid currentColor;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #bbb;
  }