/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background: grey;
    color: #000;
    /* text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff; */
    cursor: pointer;
    padding: 13px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.7s;
    position: inherit;
    margin-bottom: 30px;
    margin: 80px 0 -100px 0;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #737687;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    width: inherit;
    background: #737687;
    display: none;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  /* CSS */
  /* button {
    display: inline-block;
    margin: 40px 0 -19px 0;
    padding: 10px 15px;
    width: 33%;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #F7F9FF;
    border: none;
    border-radius: 15px;
    font-family: "Times New Roman", Times, serif;
    font-size: x-large;
}

button:hover {
    background-color: #c3c6d9
}

button:active {
    background-color: #b0b2c2;
    transform: translateY(4px);
} */
