/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgb(200, 200, 200);
    box-shadow: 0 6px #999;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: inherit;
    margin-bottom: 30px;
    margin: 80px 0 -100px 0
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: lightgray;
    display: none;
    overflow: hidden;
    margin-bottom: 30px;
  }
