.engineer {
    position: left;
    margin: 140px 0 0 0;
}

.arts {
    margin: auto;
    width: 50%;
}

.human {
    position: right;
    margin: 0 0 0 0;
}

.continuing {
    position: left;
    margin: 0 0 0 0;
}

.schools {
    position: auto;
    width: 50%;
}

.programs {
    position: right;
    margin: 0 0 0 0;
}