.header {
    margin: 0 0 0 -50px;
    width: 100%;
    padding: 15px;
    text-align: left;
    background: #3d5475;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

a:link {
    color: white;
    font-size: x-large;
    text-decoration: none;
}

a:visited {
    color: white;
}