{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<head>
    <script src="https:/accounts.google.com/gsi/client" async defer></script>
    <style>
        .goog {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 15rem;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div class="goog">
        <div id="g_id_onload"
           data-client_id="586460119691-8i3i2j6be95ov6jett03drds9b9lflr7.apps.googleusercontent.com"
           data-auto_prompt="false"
           data-context="signin"
           data-callback>
        </div>
        <div class="g_id_signin"
           data-type="standard"
           data-size="large"
           data-theme="outline"
           data-text="sign_in_with"
           data-shape="rectangular"
           data-logo_alignment="left">
        </div>
    </div>
</body>